# Lab 13

## Part A: Selected Features of Python

### A.1 Variable and List, comments, input

In [1]:
x = "apple"
y = 'pear'
myList = ["apple", 3.14]
(x, y, myList)

('apple', 'pear', ['apple', 3.14])

### A.2 Printing

In [2]:
print("Testing", x, y, myList)

Testing apple pear ['apple', 3.14]

### A.3 Define a function

In [3]:
sum = 0

def addValue(x):
  global sum
  sum += x

addValue(1)
addValue(2)
addValue(3)
sum

6

### A.4 `and`, `or`, `not`, `True`, `False`

In [4]:
(True and False, True or False, not False)

(False, True, True)

### A.5 Control of Flow, Multiple assignment

In [5]:
a, b, c = 1, 2, 3
max_value = 0
if a > b:
  if a > c:
    max_value = a
  else:
    max_value = c
elif b > c:
  max_value = b
else:
  max_value = c
max_value

3

### A.6 List `+` and slicing

In [6]:
s = [1, 2, -3, 4, 5, -6, 7, 8, -9, 10, -11, -12, 13, -14, 15, -16]
s = s[1:6]
(s, s[:3], s[3:])

([2, -3, 4, 5, -6], [2, -3, 4], [5, -6])

### A.7 The `list()` function

In [7]:
list("hello")

['h', 'e', 'l', 'l', 'o']

### A.8 Lambda function, function variable

In [8]:
_is_equal = lambda x, y : x == y
_is_small = lambda x, y : x < y
_is_large = lambda x, y : x > y
_append = lambda x, y: x + y
(
    _is_equal(1, 2),
    _is_small(1, 2),
    _is_large(1, 2),
    _append([1, 2], [3, 4, 5])
)

(False, True, False, [1, 2, 3, 4, 5])

### A.9 `map` function

In [9]:
sum = 0
def addValue(x):
  global sum
  sum += x
  return sum

(
    list(map(addValue,[1, 2, 3])),
    list(map(list, ["apple", "pear", "banana"]))
)

([1, 3, 6],
 [['a', 'p', 'p', 'l', 'e'],
  ['p', 'e', 'a', 'r'],
  ['b', 'a', 'n', 'a', 'n', 'a']])

### A.10 `filter` function

In [10]:
arr = [1, -2, 3, 6, -7, 20, 13, 16]
a = filter(lambda x : x > 0, arr)
b = filter(lambda x : x < 0, arr)
(list(a), list(b), list(a))

([1, 3, 6, 20, 13, 16], [-2, -7], [])

## Part B: Problem Solving

### B.1: `my_max`

#### B1.1: The balanced version

In [11]:
def my_max(x):
  if len(x) == 1:
    return x[0]
  elif len(x) == 2:
    return x[0] if x[0] > x[1] else x[1]
  else:
    return my_max([my_max(x[:len(x)//2]), my_max(x[len(x)//2:])])

my_max([1,2,-3,4,5,-6,7,8,-9,10,-11,-12,13,-14,15,-16])

15

#### B1.2: The imbalanced version

In [12]:
def my_max(x):
  if len(x) == 1:
    return x[0]
  elif len(x) == 2:
    return x[0] if x[0] > x[1] else x[1]
  else:
    return my_max([my_max(x[:-1]), x[-1]])

my_max([1,2,-3,4,5,-6,7,8,-9,10,-11,-12,13,-14,15,-16])

15

### B2: `my_reverse`

#### B2.1: The balanced version

In [13]:
def my_reverse(x):
  if len(x) == 1:
    return x
  return my_reverse(x[len(x)//2:]) + my_reverse(x[:len(x)//2])

my_reverse([1,2,-3,4,5,-6,7,8,-9,10,-11,-12,13,-14,15,-16])

[-16, 15, -14, 13, -12, -11, 10, -9, 8, 7, -6, 5, 4, -3, 2, 1]

#### B2.2: The imbalanced version

In [14]:
def my_reverse(x):
  if len(x) == 1:
    return x
  return [x[-1]] + my_reverse(x[:-1])

my_reverse([1,2,-3,4,5,-6,7,8,-9,10,-11,-12,13,-14,15,-16])

[-16, 15, -14, 13, -12, -11, 10, -9, 8, 7, -6, 5, 4, -3, 2, 1]

### B3: m, n problem

In [15]:
def m_n(n, m):
  if m < 0 or n * (n + 1) / 2 < m:
    return []
  elif n * (n + 1) / 2 == m:
    return [list(range(1, n + 1))]
  else:
    return list(map(
        lambda arr: arr + [n],
        m_n(n - 1, m - n)
    )) + m_n(n - 1, m)

m_n(4, 4)

[[4], [1, 3]]

### B.4: Quick sort

In [16]:
def quick_sort(myList):
  if len(myList) == 0:
    return myList
  bench_mark = myList[0]
  equal = list(filter(lambda x: x == bench_mark, myList))
  small = quick_sort(list(filter(lambda x: x < bench_mark, myList)))
  large = quick_sort(list(filter(lambda x: x > bench_mark, myList)))
  return small + equal + large

data_set = [1,2,-3,4,5,-6,7,8,-9,10,-11,-12,13,-14,15,-16]
quick_sort(data_set)

[-16, -14, -12, -11, -9, -6, -3, 1, 2, 4, 5, 7, 8, 10, 13, 15]

### B.5: `reduce` function

In [17]:
f = lambda x, y: x if x > y else y

from functools import reduce
def my_max(myList):
  return reduce(f, myList)

my_max(data_set)

15

### B.6: `reduce` function

In [18]:
appendR = lambda list1, list2: list2 + list1
toList = lambda item: [item]

def reverse(myList):
  return reduce(appendR, map(toList, myList))

reverse(data_set)

[-16, 15, -14, 13, -12, -11, 10, -9, 8, 7, -6, 5, 4, -3, 2, 1]